* {
margin: 0;
padding: 0;

}

html,
body {
font-size: 18px;
background-color: #292828;

}

h1 {
  max-width: 2000px;
  font-size: 2.8em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif 
   sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 20px 0;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  


}
.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.contenedor-principal {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.imagen-App {
  padding: 5;
  color: #a68093;
  margin: 0;
  border: #a92258;
  position: fixed;
 
}